<a (click)="sendRecipe()" class="flex flex-col  bg-white border border-gray-200 rounded-lg shadow-sm p-3 md:max-w-xl hover:bg-gray-100 ">
  <img class="object-cover w-full rounded-lg size-36 transition-transform hover:scale-105 " [src]="recipe.image" [alt]="recipe.title">
  <div class="flex flex-col justify-between p-2 leading-normal">
      <div class="flex items-center justify-between">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">
          {{recipe.title.split(" ").slice(0,2).join(" ")}}
        </h5>
        <span class=" text-sm font-medium me-2 px-2.5 py-0.5 rounded-md" [ngClass]="recipe.id % 2 === 0 ?'bg-gray-600 text-gray-100' : 'bg-purple-100 text-purple-800'">{{recipe.country}}</span>
      </div>

      <p class="mb-3 font-normal text-gray-700">{{recipe.description | titlecase}}</p>
  </div>
</a>
<!-- <app-recipe-detailes/> -->
